name: API Tests

on:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:

    services:
      mongodb:
        image: mongo
        ports:
        - 27017:27017  

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python setup_tests.py
        pytest -v
      env:
        PYTHONPATH: .
        ADMIN_USERNAME: ${{ secrets.ADMIN_USERNAME }}
        ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
        MONGO_STRING: "mongodb://localhost:27017/"
        MONGO_DBNAME: ${{ secrets.MONGO_DBNAME }}
        USERS_COLLECTION: ${{ secrets.USERS_COLLECTION }}
        LICENSES_COLLECTION: ${{ secrets.LICENSES_COLLECTION }}
        CHECKSUMS_COLLECTION: ${{ secrets.CHECKSUMS_COLLECTION }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        TOKEN_KEEPALIVE_MINUTES: "15"
        AUTH_LIMITER_PER_DAY: "9999"
        AUTH_LIMITER_PER_HOUR: "9999"
        ADMIN_OTP_SECRET: ""
        LICENSE_PRIVATE_KEY: ${{ secrets.LICENSE_PRIVATE_KEY }}
        LICENSE_PUBLIC_KEY: ${{ secrets.LICENSE_PUBLIC_KEY }}